

<body>
	<%- include("partials/header.ejs") %>

<div class="wrapper">

	<!-- Show form if this is the first time opening the site.  -->
	<% if (!locals.events) { %>
		<form action="/submit" method="post">
			<label for="month">Month: </label>
			<select id="month" name="month">
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>

			<label for="day">Day: </label>
			<input type="number" name="day" id="day" min="1" max="31" value="1">

			<input type="submit" style="width: 5em;">

			<div class="about">
				<h2>About: </h2>
				<p class="description">
					You are an all-powerful entity before the inception of the universe. Pick a date and see what will happen in time.
				</p>
			</div>
			
		</form>

	<!-- Show events -->
	<% } else { %>
		<main>
			<!-- Information bar -->
			<div class="info-bar">
				<div class="est">Est. 0000</div>
				<div class="date" style="text-align: center;"> <a href="/"> <%=date[1]%>/<%=date[0]%> </a> <br>
					<div class="sub">
						press date to change
					</div>
				
				</div>
				<div class="price">2 cents</div>
			</div>

			<div class="events-grid">
				<!-- Display all of the events -->
				<% for (var i = 0; i < events.length; i++) { %>

					<!-- Make temp ad -->
					<% if (i == 1) { %>
					<div class="event ad">
						<div class="inner-border">
							<div class="ad-logo">
								<p class="">Cosmi-Coffee!</p>
								<img src="./images/ads/cosmi-coffee.png" alt="cosmi coffee">
							</div>
							<br>
							<p class="info">Sip the finest coffee of the cosmos!</p>
						</div>
					</div>
					<% } %>

					<!-- Show important births -->
					<% if ((i == 7) && (locals.births)) { %>
						<div class="event births-container">
							<h2>Important births</h2>
							
							<% for (var x = 0; x < births.length; x++) { %>
								<div class="birth">
									<p class="date"> <%= births[x].year %> </p>
									<p class="title">
										<a href=<%=births[x].link%>> 
											<%= births[x].name %> 
										</a>
									</p>
								</div>
							<% } %>
						</div>
					<% } %> <!-- End of important births-->

				
					<!-- Show important deaths -->
					<% if ((i == 24) && (locals.deaths)) { %>
						<div class="event deaths-container">
							<h2>Important Deaths</h2>
							
							<% for (var x = 0; x < deaths.length; x++) { %>
								<div class="death">
									<p class="date"> <%= deaths[x].year %> </p>
									<p class="title">
										<a href=<%=deaths[x].link%>> 
											<%= deaths[x].name %> 
										</a>
									</p>
								</div>
							<% } %>
						</div>
					<% } %> <!-- End of important births-->


					<!-- Special event -->
					<% if (events[i].is_special) { %>
						<div class="event event<%=i%> special-event">
							<a href=<%=events[i].link%>><p><%=events[i].title%></p></a>
							<p><%=events[i].year%></p>
							<p><%=events[i].description%></p>
							<img src="/images/exc-mark-2.png" alt="exclamation mark">
						</div>
					
					<!-- Normal event -->
					<% } else { %>
						<div class="event event<%=i%>">
							<a href=<%=events[i].link%>><p><%=events[i].title%></p></a>
							<p><%=events[i].year%></p>
							<p><%=events[i].description%></p>
						</div>
					<% } %>	
				<% } %> <!-- End of getting all events -->
			</div>
		</main>

	<% } %>

<%- include("partials/footer.ejs") %>

</div> <!-- End of wrapper-->

<script>
	console.log("THis is it!")
</script>
</body>

